{% extends "habit_tracker/layout.html" %}
{% load static %}

{% block title %}
    Homepage - Habit Tracker
{% endblock %}

{% block main %}
    <div data-bs-spy="scroll" style="background-color: white !important;" data-bs-target="homepagenav" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true" class="scrollspy-example bg-body-tertiary p-3 rounded-2 mt-4" tabindex="0">
        <div class="hero">
           <div class="container">
                <div class="row homerow1">
                    <div class="col-md-6">
                        <div class="copy" data-aos="fade-up">
                            <div class="text-label">
                                Take Back Control Of Your Life Now
                            </div>
                            <div class="text-hero-bold">
                                HABIT TRACKER
                            </div>
                            <div class="text-hero-regular">
                                Create Track And Form Healthy Habits Today
                            </div>
                            <div class="cta mt-3">
                                <a href="{% url 'register' %}" class="btn btn-primary registerBtn">Get Started</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6" data-aos="fade-left">
                        <img src="{% static 'habit_tracker/images/Healthy habit-bro.png' %}" alt="homepageimg" id="hpimg1">
                    </div>
                </div>
            </div>
        </div>

        <div class="highlight">
            <div class="mt-3 mb-2 text-center">
                <h5>Feature Highlight</h5>
            </div>
            <div class="container">
                <div class="row homerow2">
                    <div class="col-md-4 col-sm-12 featureimg" data-aos="zoom-in-right">
                        <img src="{% static 'habit_tracker/images/Boost your immune system-bro.png' %}" alt="homepageimg1" id="hpimg2">
                        <div class="text-center">
                            <p>Stay on top of your habits by tracking progress, maintaining streaks, and analyzing relapses to form better routines.</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 featureimg" data-aos="zoom-in">
                        <img src="{% static 'habit_tracker/images/Mansplaining-bro.png' %}" alt="homepageimg2" id="hpimg3">
                        <div class="text-center">
                            <p>Connect with like-minded individuals, share your progress, and support each other in building better habits.</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 featureimg" data-aos="zoom-in-left">
                        <img src="{% static 'habit_tracker/images/Online test-bro.png' %}" alt="homepageimg3" id="hpimg4">
                        <div class="text-center">
                            <p>Participate in challenges, earn points, and climb the leaderboard to unlock exciting rewards and achievements.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="our_mission">
            <div class="mt-3 mb-3 px-3 missiontext text-center">
                <h5>Our Mission</h5>
            </div>
            <div class="container">
                <div class="row homerow3">
                    <div class="col-md-6 col-sm-12 mission" data-aos="zoom-out-left">
                        <p class="px-3">
                            Our mission is to empower individuals to break free from bad habits, build healthier routines, and take control of their lives. We believe that self-improvement should be accessible, supportive, and judgment-free.
                            Through habit tracking, community support, and engaging challenges, we provide a structured yet flexible environment where users can set goals, track progress, and celebrate milestones—all while staying motivated and accountable.
                            Whether you're overcoming an addiction, building positive habits, or simply striving for a better version of yourself, we’re here to support you every step of the way.
                        </p>
                    </div>
                    <div class="col-md-6 col-sm-12 missionimg" data-aos="zoom-out-right">
                        <img src="{% static 'habit_tracker/images/Business mission-rafiki.png' %}" alt="homepageimg4" id="hpimg5">
                    </div>
                </div>
            </div>
        </div>

        <div class="contact_us">
            <div class="mt-3 mb-3 contacttext text-center">
                <h5>Contact Us</h5>
            </div>
            <div class="container">
                <div class="row homerow4">
                    <div class="col-md-6 col-sm-12 contactimg" data-aos="zoom-out-right">
                        <img src="{% static 'habit_tracker/images/Mention-bro.png' %}" alt="homepageimg5" id="hpimg6">
                    </div>
                    <div class="col-md-6 col-sm-12 contact">
                        <h5 class="contxt1">
                            <a href="https://x.com/Meculos_Hj4" class="a1" target="_blank">
                                <i class="fa-brands fa-twitter"></i> Twitter
                            </a>
                        </h5>
                        <h5 class="contxt2">
                            <a href="princeprosper444@gmail.com" class="a2">
                                <i class="fa-solid fa-envelope"></i> Email Us
                            </a>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}