body {
    background: white
}

#homepagenav {
    background-color: #221d23 !important;
}

#registerForm, #editProfileForm {
    background-color: #221d23 !important;
    border-radius: 10px;
    padding: 20px;
    color: white;
    align-items: center;
    max-width: fit-content;
}

#loginForm, #habitCreationForm, #habitLogForm {
    background-color: #221d23 !important;
    border-radius: 10px;
    padding: 20px;
    color: white;
    align-items: center;
    width: 100vh;
}

@media (max-width: 768px) {
    #loginForm, #habitCreationForm, #habitLogForm {
        width: 50vh;
    }
}

#button2, #button3, #button4, #button5, #editButton{
    background-color: transparent;
    border-color: white;
    color: white;
    margin-left: 100px;
    margin-top: 20px;
}
.habit-card, .archive-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f8f9fa;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

.habit-card:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
    transform: scale(1.02);
}

.archive-card:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
    transform: scale(1.02);
}

.card-title {
    font-weight: 600;
    font-size: 1.2rem;
    color: white;
}

.habit-card .card-text {
    font-size: 0.95rem;
    margin-bottom: 0.5rem;
}

.logButton, 
.activeButton, 
.detailsButton,
.inactiveButton,
.deleteButton,
.renewButton {
    font-size: 0.85rem;
    padding: 0.4rem 0.8rem;
}

.logButton, .renewButton {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.logButton:hover {
    background-color: #0056b3;
    border-color: #004085;
}
.renewButton:hover {
    background-color: #0056b3;
    border-color: #004085;
}

.activeButton, .deleteButton {
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107;
}

.activeButton:hover {
    background-color: #e0a800;
    border-color: #d39e00;
}
.deleteButton:hover {
    background-color: red;
    border-color: rgb(82, 19, 19);
}

.detailsButton {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
}

.detailsButton:hover {
    background-color: #138496;
    border-color: #117a8b;
}


#button4:hover {
    background-color: white !important;
    color: #221d23 !important;
}

#button5:hover {
    background-color: white !important;
    color: #221d23 !important;
}

#button3:hover {
    background-color: white !important;
    color: #221d23 !important;
}

#button2:hover {
    background-color: white !important;
    color: #221d23 !important;
}
#editButton:hover {
    background-color: white !important;
    color: #221d23 !important;
}
#column1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#text1 {
    font-family: 'Courier New', Courier, monospace;
    color: blue;
}

#text2 {
    font-style: italic;
    color: blue;
}

#button1 {
    border-color: blue;
    color: blue;
}

#button:hover {
    background-color: blue !important;
    color: white !important;
}

#allHabitsDiv, #allLogsDiv, #archivedHabitsDiv {
    background-color: #221d23;
    color: white;
    padding: 20px;
}

#habitsButton, #createHabitButton, #activityButton, #archive {
    background-color: transparent !important;
    border-color: #221d23 !important;
    color: #221d23 !important;
}

#archive:hover {
    background-color: #221d23 !important;
    color: white !important;
}
#habitsButton:hover {
    background-color: #221d23 !important;
    color: white !important;
}
#createHabitButton:hover {
    background-color: #221d23 !important;
    color: white !important;
}
#activityButton:hover {
    background-color: #221d23 !important;
    color: white !important;
}

.custom-sidebar {
    background-color: #221d23;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    height: fit-content; /* Full height */
    position: fixed;
    right: 30px;
    z-index: 1030;
    box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.2); /* Optional shadow for effect */
}

@media (max-width: 767px) {
    .custom-sidebar {
        position: relative; /* Reverts the sidebar's fixed positioning */
        height: auto; /* Allow it to take natural height */
        width: 100%; /* Full width on small screens */
        top: auto; /* Reset top for smaller screens */
        right: 0; /* No right space on smaller screens */
        border-radius: 0;
    }
}

#sidebar {
    background-color: #221d23;
    color: white;
    padding: 20px;
    border-radius: 10px;
}

#pcolumn1 {
    background-color: #221d23;
    color: white;
    padding: 50px;
    border-radius: 10px;
}
#pcolumn2 {
    background-color: white;
    color: black;
    padding: 50px;
    border-radius: 10px;
}

#commnav, #postsDiv, #friendnav, #smallfriendnav {
    border-right: 2px solid #221d23;
    margin-top: 0;
    min-height: 100vh;
}

#commheader {
    background-color: #221d23;
    height: 50px;
    align-items: center;
}
#commtext {
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.commentbutton {
    border-color: #221d23;
    background-color: transparent;
    color: #221d23;
    font-style: italic;
}
.commentbutton:hover {
    background-color: #221d23;
    color: #bec5ad;
    font-style: italic;
    border: none;
}

.commName {
    color: #221d23;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
}
.commName:hover {
    color: black;
    text-decoration: dashed;
}

#notificationsDropdown {
    margin-left: 300px;
}

#chat-container {
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 15px;
}

.message-row {
    display: flex;
    align-items: flex-end;
}

.message-row.outgoing {
    justify-content: flex-end;
}

.message-row.incoming {
    justify-content: flex-start;
}

.message-content {
    max-width: 70%;
    border-radius: 20px;
    position: relative;
}

.profile-picture {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

#chat-messages {
    background-color: #fff;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#chat-input {
    flex-grow: 1;
    border-radius: 20px;
    padding: 10px 15px;
}

button#send-button {
    border-radius: 20px;
    padding: 10px 20px;
}

/* Default state */
.navbar-toggler {
    border-color: #007bff;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3E%3Cpath fill='%23007bff' d='M0 2h30v2H0zm0 6h30v2H0zm0 6h30v2H0zm0 6h30v2H0zm0 6h30v2H0Z'%3E%3C/path%3E%3C/svg%3E");
}

/* Hover state */
.navbar-toggler:hover {
    border-color: #0056b3;
}
.navbar-toggler-icon:hover {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3E%3Cpath fill='%230056b3' d='M0 2h30v2H0zm0 6h30v2H0zm0 6h30v2H0zm0 6h30v2H0zm0 6h30v2H0Z'%3E%3C/path%3E%3C/svg%3E");
}

/* Focus state */
.navbar-toggler:focus {
    border-color: #28a745;
}
.navbar-toggler-icon:focus {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3E%3Cpath fill='%2328a745' d='M0 2h30v2H0zm0 6h30v2H0zm0 6h30v2H0zm0 6h30v2H0zm0 6h30v2H0Z'%3E%3C/path%3E%3C/svg%3E");
}

.challenge-container {
    max-width: 600px;
    margin: 0 auto;
    border: 2px solid #007bff;
    background-color: #ffffff;
}

.challenge-container h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.timer-display {
    font-size: 1.2rem;
    font-weight: bold;
    animation: pulse 1s infinite;
}

.challenge-question {
    font-size: 1.2rem;
    color: #555;
}

.answer-section input:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn-primary {
    transition: all 0.3s ease-in-out;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
    transform: translateY(-2px);
}

@keyframes pulse {
    0%, 100% {
        background-color: #dc3545;
    }
    50% {
        background-color: #ff5b5b;
    }
}

#pointsChart, #completionRateChart, #habitChart, #moodChart {
    max-width: 1600px;
    max-height: 400px;
    width: 100%; /* Makes it responsive */
    height: auto;
}

canvas {
    display: block;
    width: 100%;
    height: auto;
}

#hero-video {
    object-fit: contain;
    position: absolute;
    width: 100%;
    height: 80%;
    z-index: -1;  /* Makes sure the content is above the video */
    border-radius: 30px;
}

.homesec img {
    max-height: 400px;
    object-fit: contain;
}

.homesec h6 {
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 1rem;
}

.homesec p {
    font-size: 0.95rem;
    color: #6c757d;
    margin: 0.5rem 0 1rem;
}

.homesec .btn {
    font-size: 0.9rem;
    padding: 0.5rem 1.5rem;
    background-color: #0d6efd;
    border: none;
    transition: background-color 0.3s ease;
}

.homesec .btn:hover {
    background-color: #0056b3;
}


#navitem1 {
    position: relative;
    height: fit-content;  /* Adjust this value based on your design */
}

.fallback-img {
    object-fit: contain; /* Ensures the full image is shown within the available width */
    width: 100%; /* Makes the image span the full width of the screen */
    height: auto; /* Maintains aspect ratio of the image */
    border-radius: 30px;
}

.homecard1 {
    border: 1px solid purple;
    border-radius: 10px;
}
.hometext1 {
    color: purple;
}
.homebtn1 {
    background-color: transparent;
    border-color: purple;
    color: purple;
}
.homebtn1:hover {
    background-color: purple;
    color: white;
}

#search {
    width: 500px;
    margin-right: 20px;
}

.gold-bg {
    background-color: #ffd700;
}

.silver-bg {
    background-color: #c0c0c0;
}

.bronze-bg {
    background-color: #cd7f32;
}

.white-bg {
    background-color: #ffffff;
}

.edit {
    background-color: transparent;
    border-color: white !important;
    color: white !important;
}

.edit:hover {
    background-color: white !important;
    color: #221d23 !important;
}

.leader {
    background-color: transparent;
    border-color: #221d23 !important;
    color: #221d23 !important;
}

.leader:hover {
    background-color: #221d23 !important;
    color: white !important;
}

.nav-item a {
    color: #221d23;
}
.nav-item a:hover {
    color: #bec5ad;
}

.chatname {
    color: #221d23;
    text-decoration: none;
    font-style: italic;
}
.chatname:hover {
    color: #423e42;
}

.searchbtn {
    background-color: transparent;
    border-color: #221d23;
    color: #221d23;
}
.searchbtn:hover {
    background-color: #221d23;
    color: #bec5ad;
    border-color: #221d23;
}

.chatbtn {
    background-color: transparent;
    border-color: #221d23;
    color: #221d23;
}
.chatbtn:hover {
    background-color: #221d23;
    color: #bec5ad;
    border-color: #221d23;
}

.profilebtn {
    background-color: transparent;
    border-color: white;
    color: white;
}
.profilebtn:hover {
    background-color: white;
    color: #221d23;
    border-color: white;
}

#hpimg1,
#hpimg2,
#hpimg3,
#hpimg4,
#hpimg5,
#hpimg6 {
    object-fit: contain !important;
    height: 100%;
    width: 100%;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contxt1, .contxt2 {
    font-size: 50px;
    font-style: italic;
}
.a1, .a2 {
    color: black;
}

.text-label,
.text-hero-bold,
.text-hero-regular {
    margin-top: 2px;
}

.text-label {
    color: rgb(64, 216, 64);
    font-size: 30px;
    font-weight: 400;
    line-height: 31px;
}

.text-hero-bold {
    color: black;
    font-size: 75px;
    font-weight: bold;
}

.text-hero-regular {
    color: black;
    font-size: 20px;
    font-weight: 200;
}

.copy {
    display: flex;
    flex-direction: column;
    padding-top: 200px;
    justify-content: end;
}

.registerBtn {
    background-color: #28a745;
    color: white;
    border-color: #28a745;
}
.registerBtn:hover {
    background-color: green;
    color: whitesmoke;
    border-color: green;
}
.registerBtn:focus {
    background-color: #28a745;
    color: white;
    border-color: #28a745;
}
.homerow3 {
    display: flex;
    align-items: center;
}
.our_mission {
    padding-top: 100px;
}

@media (max-width: 767px) {
    .hero {
        margin: 2rem 0;
        text-align: center;
        margin-top: 0px;
        padding-top: 0px;
    }
    .text-label,
    .text-hero-bold,
    .text-hero-regular {
        margin-top: 0px;
        text-align: center;
    }
    .registerBtn {
        background-color: #28a745;
        color: white;
        border-color: #28a745;
        display: block;
        margin: 1rem 0;
    }
    .text-hero-bold {
        color: black;
        font-size: 60px;
        font-weight: bold;
    }
    .copy {
        padding-top: 100px;
    }
    #hpimg2,
    #hpimg3,
    #hpimg4,
    #hpimg5,
    #hpimg6 {
        object-fit: contain !important;
        height: 80%;
        width: 80%;
    }
    .featureimg, .missionimg, .contactimg {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .contxt1, .contxt2 {
        font-size: 25px;
        font-style: italic;
    }
    .mission {
        text-align: center;
    }
    .cardrow {
        width: 100%;
    }
    .dcard {
        width: 100%;
    }
    .profileinfo {
        display: flex;
        flex-direction: column;
    }
    .profilecol {
        padding-top: 10px;
    }
    .d-flex {
        display: flex;
        flex-direction: row;
        align-items: flex-start; /* Keeps nav aligned at the top */
    }
    #smallcommnav {
        flex: 0 0 auto; /* Prevents nav from stretching */
        margin: 0px;
        padding: 0px;
    }
    #smallposts {
        flex: 1; /* Takes up remaining space */
        margin: 0px;
        padding: 0px;
    }
    #smallposts1 {
        flex: 1; /* Takes up remaining space */
        margin: 0px;
        padding: 0px;
    }
    #smallpp {
        height: 50px !important;
        width: 50px !important;
        margin-bottom: 80px;
    }
    #friendname {
        font-size: 20px;
    }
    #friendpp, #searchpp {
        height: 50px !important;
        width: 50px !important;
    }
    #fldiv {
        margin-left: 0px !important;
    }
    .navitems1 {
        margin: 0px;
        padding: 0px;
    }
    #smhomepagenav {
        background-color: #221d23 !important;
    }
    .hddiv {
        min-height: 100px !important;
    }
}

@media (min-width: 768px) and (max-width: 1200px) {
    .text-label {
        color: rgb(64, 216, 64);
        font-size: 20px;
        font-weight: 400;
        line-height: 31px;
    }
    
    .text-hero-bold {
        color: black;
        font-size: 40px;
        font-weight: bold;
    }
    
    .text-hero-regular {
        color: black;
        font-size: 15px;
        font-weight: 200;
    }

    .text-label,
    .text-hero-bold,
    .text-hero-regular {
        margin-left: 1rem 0;
        margin-right: 1rem 0;
    }
    .copy {
        padding-top: 80px;
    }
    .homerow1 {
        padding-top: 50px;
    }
    #hpimg2,
    #hpimg3,
    #hpimg4,
    #hpimg5,
    #hpimg6 {
        object-fit: contain !important;
        height: 90%;
        width: 90%;
    }
    .featureimg, .missionimg, .contactimg {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .contxt1, .contxt2 {
        font-size: 30px;
        font-style: italic;
    }
    .our_mission {
        padding-top: 30px;
    }
    .custom-sidebar {
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 20px;
        height: fit-content; /* Full height */
        position: fixed;
        right: 5px;
        z-index: 1030;
        box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.2);
    }
    #notificationsDropdown {
        margin-left: 140px;
    }
}